<% if (producto) { %> <!-- prgunto si exite el producto mustro id y name sino muestra No existe el producto -->
    <h2>codigo: <%= producto.id %></h2> <!-- todo lo que este dentro de <%%> sera leido como javascript -->
    <p><%= producto.name %></p>
<% } else { %>
    <p>No existe el producto</p>
<% } %>
